.box {
    margin: auto auto;
    padding: 350px;
    height: 100px;
    width: 400px;
    border:2px black solid;
    overflow: scroll;
}

.fluidcontainerbox {
    margin: auto auto;
    height: 700px;
    width: 700px;
    border:2px black solid;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.message {
    margin: auto auto;
    font-size: small;
    padding: 0px;
    height: 50px;
    border:2px black solid;
}

.fromname {
    text-align:left;
    font-size: large;
}

.textcontent {
    text-align: center;
}

.entertext {
    margin: auto auto;
    font-size: small;
    padding: 0px;
    height: 50px;
    width: 700px;
    border:2px black solid;
}

.navbar_ li {
    font-family: 'Racing Sans One', cursive;
    margin-left: 1.5vw;
    display: inline-block;
}

.navbar_ .buttonb {
    float: right;
    margin-left: 5vw;
}

.companyname {
    color: white;
}
.ico {
    position: relative;
    margin-top: 1vh;
    width:50px;
    
    height: auto;
}
.upperdiv {
    font-size: large;
    background-color:#36393F;
    height: 40%;
    width: 100%;
}
.lowerdiv {
    font-family: 'Roboto', sans-serif;
    height: 40%;
    width: 100%;
}

.upperdivtext {
    display:inline-block;
    text-align: justify;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color:white;
}

@media screen and (max-width: 480px) {
    .responsiveimg1 {
        width: 100%;
        height: auto;
    }
  }